body {
    background-image: url("../images/theme/map-grid.png");
    font-size: large;
    font-weight: 500;
    font-family: Geneva, sans-serif;  
}

h2 {
    color: teal;
}

img {
    max-width: 100%;
}

/* grid layout */
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.navbar {
    grid-column: 1 / 2;
    grid-row: 1 / 1fr;
}


/* IMPORTED STYLES FROM DRUPAL

p > a {
    background-color: #d9d9d9;
    color: #454545;
    padding-left: .5em;
    padding-right: .5em;
    text-decoration: none;
}

p > a:hover {
    background-color: teal;
    color: #D9D9D9;
    text-decoration: none;
}

.button-left:hover,.button-right:hover {
    background-color: #a0a0a0;
    color: #e7e7e7;
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.poem-title {
    font-style: italic;
    font-size: 24px;
    padding: 10px;
    font-weight: 300;
}

.poem-body {
    font-family: courier,serif;
    font-size: 1.2em;
    font-weight: bold;
}

.sponsors {
    height: auto;
    width: 750px;
}

.text-box {
    background-color: rgb(217,217,217);
    background-color: rgba(217,217,217,0.7);
    border: 1em solid rgb(217,217,217);
    border: 1em solid rgba(217,217,217,0);
} */

/* people page styles */
/* .artist-portrait {
    border-radius: 1em;
    height: 15em;
     width: auto; 
 }
 
 .people-p {
     text-align: justify;
     width: 36em;
 }
 
 .team-portrait {
    border-radius: 1em;
    height:14em;
    width: auto;
} */