a {
   text-decoration: none;
}

nav {
   background-color: #f8f8f8;
   display: grid;   
   grid-template-columns: 30% repeat(3, 1fr);
   text-align: center;
}



/* UNUSED CLASSES
.nav-home
.nav-btn
*/


/* IMPORTED STYLES FROM DRUPAL 9

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.navbar-brand,
.navbar-nav > li > a {
   color: teal;
   font-family: Tahoma, sans-serif;
}

header.navbar-default .navbar-brand {
   background-color: transparent;
   border: none;
   color: teal;
}

a.navbar-brand {
   background-color: transparent;
   font-size: 50px;
   text-align: center;
}

.navbar-default .navbar-nav>li>a {
   padding-top: 10px;
   padding-bottom: 10px;
   line-height: 20px;
   font-size: large;
   color: teal;
} */