<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/front-nav.css">
    <link rel="stylesheet" href="../assets/css/path.css">
</head>
<body>
    {% include navigation.html %}

    {{ content }}
    <div class="overlay-container">
        <div class="overlay">
            <div class="creative-res">
                <a class="button-nav" href="#">Creative Resistance</a>
            </div>
            <div class="entangled-eco">
                <a class="button-nav" href="Entangled Ecologies">Entangled Ecologies</a>
            </div>
            <div class="predictable-pre">
                <a class="button-nav" href="Predictable Precarity">Predictable Precarity</a>
            </div>
        </div>
        <p><img src="../assets/images/theme/coasts-nav-img2.png" alt="A map of the Caribbean islands."></p>
    </div>

    <div>
        <img src="../assets/images/theme/hurricane-icon.png" alt="A bright red hurricane icon rotating." class="icon-irma rotate">
        <img src="../assets/images/theme/hurricane-icon.png" alt="A bright red hurricane icon rotating." class="icon-maria rotate">
        <img src="../assets/images/theme/hurricane-icon.png" alt="A bright red hurricane icon rotating." class="icon-jose rotate">
    </div>
    
    {{ content }}
</body>
</html>